<div class="mybg">
    
    <div class="container-fluid mt1-5 p-5">
        <h1 class="text-center mytxt-clr mb-5 myhtxtres1">OUR GALLERY</h1>
        <div class="row text-center">
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto">
                <a href="../../assets/images/Gallery/1.jpg" class="d-block mb-3">
                    <img src="../../assets/images/Gallery/1.jpg" alt="" class="img-fluid img-size img-thumbnail">
                </a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto">
                <a href="../../assets/images/Gallery/13.jpg" class="d-block mb-3">
                    <img src="../../assets/images/Gallery/13.jpg" alt="" class="img-fluid img-size img-thumbnail">
                </a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto">
                <a href="../../assets/images/Gallery/14.jpg" class="d-block mb-3">
                    <img src="../../assets/images/Gallery/14.jpg" alt="" class="img-fluid img-size img-thumbnail">
                </a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto">
                <a href="../../assets/images/Gallery/16.jpg" class="d-block mb-3">
                    <img src="../../assets/images/Gallery/16.jpg" alt="" class="img-fluid img-size img-thumbnail">
                </a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto">
                <a href="../../assets/images/Gallery/17.jpg" class="d-block mb-3">
                    <img src="../../assets/images/Gallery/17.jpg" alt="" class="img-fluid img-size img-thumbnail">
                </a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto">
                <a href="../../assets/images/Gallery/15.jpg" class="d-block mb-3">
                    <img src="../../assets/images/Gallery/15.jpg" alt="" class="img-fluid img-size img-thumbnail">
                </a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto">
                <a href="../../assets/images/Gallery/4.jpg" class="d-block mb-3">
                    <img src="../../assets/images/Gallery/4.jpg" alt="" class="img-fluid img-size img-thumbnail">
                </a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto">
                <a href="../../assets/images/Gallery/6.jpg" class="d-block mb-3">
                    <img src="../../assets/images/Gallery/6.jpg" alt="" class="img-fluid img-size img-thumbnail">
                </a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto">
                <a href="../../assets/images/Gallery/7.jpg" class="d-block mb-3">
                    <img src="../../assets/images/Gallery/7.jpg" alt="" class="img-fluid img-size img-thumbnail">
                </a>
            </div>
        </div>
    </div>

</div>