<!-- internship starts -->

<div class="container-fluid mymt1-5">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 offset-lg-3 text-center" data-aos="fade-up" data-aos-duration="1700">
          <p class="mytxt-clr lead">INTERNSHIP</p>
        <h1 class="mytxt-clr text-center myhtxtres1">HAVE THE <br> TECHNICAL SKILLS</h1>
        <p>
            Pursuing B.E, B.Tech, M.Tech, BCA, MCA ? Always wished to have the technical skills at your hand but aren’t able to learn with your college curriculum? Get the hands on practice with almost all of the technologies with Ignitive Labs industrial internship programs. The online/offline internship programs specially designed for technical students. Do not sit idle at home and let the pandemic be the reason for leaving you short of skills.
        </p>
      </div>
    </div>
</div>

<!-- internship ends -->

<!-- cards starts -->

<div class="container-fluid mymt-5">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto text-center mymar">
            <div class="card my-round rn-bg">
                <div class="card-footer nbg my-round1 border-0 text-white p-4">
                   <h4 class="card-title myhtxtres2">EC/EEE</h4>
                   The internships for the EC/EEE students are managed by the industry 
                   experts and they get the best industrial experience
                </div> <br>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent myhtxtres3">EMBEDDED SYSTEM</li>
                        <li class="list-group-item bg-transparent myhtxtres3">IOT</li>
                        <li class="list-group-item bg-transparent myhtxtres3">CAN</li><br>
                        <li class="list-group-item bg-transparent myhtxtres3">AUTOSAR</li>
                    </ul>
                    <a routerLink="/contactus"><button class="mybtn my-3">Register</button></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto text-center mymar">
            <div class="card my-round rn-bg">
                <div class="card-footer nbg my-round1 border-0 text-white p-4">
                   <h4 class="card-title myhtxtres2">CS/IS/BCA/MCA</h4>
                   Latest projects for internships for the CS and IS students
                    that help them to achieve their career goals in the IT industry
                </div> <br>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent myhtxtres3">DATA SCIENCE</li>
                        <li class="list-group-item bg-transparent myhtxtres3">MACHINE LEARNING</li>
                        <li class="list-group-item bg-transparent myhtxtres3">ARTIFICIAL INTELLIGENCE</li>
                        <li class="list-group-item bg-transparent myhtxtres3">WEB DEVELOPMENT AND DESIGNING</li>
                    </ul>
                    <a routerLink="/contactus"><button class="mybtn my-3">Register</button></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto text-center mymar">
            <div class="card my-round rn-bg">
                <div class="card-footer nbg my-round1 border-0 text-white p-4">
                   <h4 class="card-title myhtxtres2">MECHANICAL AND MECHATRONICS</h4>
                   We provide industry experts and professionals to help you throughout your projects.
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent myhtxtres3">ROBOTICS</li>
                        <li class="list-group-item bg-transparent myhtxtres3">HYDRAULICS/PNEUMANICS/MECHANICS</li>
                        <li class="list-group-item bg-transparent myhtxtres3">ANSYS AND HYPERMESH</li>
                        <li class="list-group-item bg-transparent myhtxtres3">CATIA AND AUTOCAD</li>
                    </ul>
                    <a routerLink="/contactus"><button class="mybtn my-3">Register</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- cards ends -->

<!-- make the right decision starts -->

<div class="container mymt-5">
    <div class="row">
        <div class="col-md-10 col-lg-10 col-sm-12 col-12 offset-md-1 offset-lg-1 text-center" data-aos="fade-up" data-aos-duration="1800">
            <p class="lead ">
                Make the right decisions and choose the best internship programs.
                
            </p>

            <p class="lead">
                We are happy to introduce our online /offline internship courses for all of
                 the engineering branches for all the semesters.
                 You will get an opportunity to work for Live projects
                  developed by experts that will help you to be the master of a particular skill.
            </p>

            <p class="lead">
                We provide the internship for the engineering branches for major universities 
                like VTU, JNTU, Autonomous colleges and many more.
            </p>

            <p class="lead">
                Join the one month or 20 days Fastrack Internship as per your availability and master the skill. Enlighten your career with the best ever internships. The enrollment for the academic year 2019-20 has already started and the last date to apply for Internship is 15th July 2020.  The batches starts from 20th July and continue till August 30th 2020. Hurry up and do not miss the chance as the seats are limited to 150 only per batch. Just pay the Internship Fee Rs.3000 get an opportunity to work for Live projects under the guidance of our industry experts
           
            </p>
        </div>
    </div>
</div>

<!-- make the right decision starts -->

<!-- How to register starts -->

<div class="container mymt-5 rn-bg p-5 my-round">
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 col-12 m-auto d-block" data-aos="fade-right" data-aos-duration="1700">
            <h1 class="mytxt-clr myhtxtres1">HOW TO REGISTER?</h1>
        </div>
        <div class="col-md-8 col-lg-8 col-sm-12 col-12 m-auto d-block" data-aos="fade-left" data-aos-duration="1700">
            <p class="lead text-justify">The registration process for the online internship is much easier. 
                It is completely online procedure and you have to apply for the internship that you wish to opt for
                 at www.ignitivelabs.com. Or you can send an email along with a soft copy of internship permission letter
                  duly signed by department HOD or you can share the photo copy of your college identity card to the email id (ignitivelabsindia@gmail.com). 
                Or Type your &lt;name&gt; &lt;college name&gt; &lt;Branch&gt; &lt;Sem&gt; &lt;Domain&gt; 
                   and send to WhatsApp number 96065 66568.
                Register</p>
                <a routerLink="/contactus"><button class="mybtn mt-4" data-aos="fade-left" data-aos-duration="2000">Register</button></a>
        </div>
    </div>
</div>

<!-- How to register ends -->

<!-- How to get courses starts -->

<div class="container mymt-5 rn-bg p-5 my-round mb-4">
    <div class="row">
        
        <div class="col-md-8 col-lg-8 col-sm-12 col-12 m-auto order-md-1 order-2 d-block" data-aos="fade-right" data-aos-duration="1700">
            <ul class="list-group list-group-flush">
                <li class="list-group-item border-0 bg-transparent">Apply online for the internship.</li>
                <li class="list-group-item border-0 bg-transparent">Complete the registration process.</li>
                <li class="list-group-item border-0 bg-transparent">We will send a link in which the students have to fill in the required data and select the interested domain.</li>
                <li class="list-group-item border-0 bg-transparent">Click on the submit button.</li>
                <li class="list-group-item border-0 bg-transparent">Get the link of the tasks or the projects.</li>
                <li class="list-group-item border-0 bg-transparent">Get related videos/procedures with the project or assignment or the task.</li>
                <li class="list-group-item border-0 bg-transparent">Complete the task and show the output at the end of the internship.</li>
                <li class="list-group-item border-0 bg-transparent">Evaluation of the task will be done online and a certificate will be sent to your mail id and the college office.
                    Register</li>
            </ul>

                <a routerLink="/contactus"> <button class="mybtn mt-4" data-aos="fade-right" data-aos-duration="2000">Register</button></a>
                
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12 col-12 order-md-2 order-1 m-auto d-block" data-aos="fade-left" data-aos-duration="1700">
            <h1 class="mytxt-clr myhtxtres1">HOW TO GET COURSES?</h1>
        </div>
       
    </div>
</div>

<!-- How to get courses ends -->