<!-- Corosal Starts -->
<div id="carouselExampleCaptions" class="carousel slide mymt-5" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active slide-icon"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1" class="slide-icon"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3" class="slide-icon"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="4" class="slide-icon"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="5" class="slide-icon"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="6" class="slide-icon"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="7" class="slide-icon"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active bg1">
       
        <div class="carousel-caption d-md-block" data-aos="fade-up"  data-aos-duration="1500">
          <h1 class="myhtxtres1">WELCOME TO THE SMART WORLD</h1> <br>
          <h4 class="myhtxtres2">Lay the strong foundation for your business <br> with Ignitive Labs. </h4>
          <div class="container mb-4 btnres1">
            <a routerLink="aboutus"><button class="mybtn">Show more</button></a>
        </div>
        </div>
      </div>
      <div class="carousel-item bg2">
        
        <div class="carousel-caption d-md-block">
            <h1 class="myhtxtres1">WELCOME TO THE SMART WORLD</h1> <br>
            <h4 class="myhtxtres2">Lay the strong foundation for your business <br> with Ignitive Labs. </h4>
            <div class="container mb-4 btnres1">
                <a routerLink="aboutus"><button class="mybtn">Show more</button></a>
            </div>
        </div>
      </div>
      <div class="carousel-item bg3">
        
        <div class="carousel-caption d-md-block">
            <h1 class="myhtxtres1">WELCOME TO THE SMART WORLD</h1> <br>
            <h4 class="myhtxtres2">Lay the strong foundation for your business <br> with Ignitive Labs. </h4>
            <div class="container mb-4 btnres1">
                <a routerLink="aboutus"><button class="mybtn">Show more</button></a>
            </div>
        </div>
      </div>
      <div class="carousel-item bg4">
       
        <div class="carousel-caption d-md-block">
            <h1 class="myhtxtres1">WELCOME TO THE SMART WORLD</h1> <br>
            <h4 class="myhtxtres2">Lay the strong foundation for your business <br> with Ignitive Labs. </h4>
            <div class="container mb-4 btnres1">
                <a routerLink="aboutus"><button class="mybtn">Show more</button></a>
            </div>
        </div>
      </div><div class="carousel-item bg5">
        
        <div class="carousel-caption d-md-block">
            <h1 class="myhtxtres1">WELCOME TO THE SMART WORLD</h1> <br>
            <h4 class="myhtxtres2">Lay the strong foundation for your business <br> with Ignitive Labs. </h4>
            <div class="container mb-4 btnres1">
                <a routerLink="aboutus"><button class="mybtn">Show more</button></a>
            </div>
        </div>
      </div>
      <div class="carousel-item bg6">
        
        <div class="carousel-caption d-md-block">
            <h1 class="myhtxtres1">WELCOME TO THE SMART WORLD</h1> <br>
            <h4 class="myhtxtres2">Lay the strong foundation for your business <br> with Ignitive Labs. </h4>
            <div class="container mb-4 btnres1">
                <a routerLink="aboutus"><button class="mybtn">Show more</button></a>
            </div>
        </div>
      </div>
      <div class="carousel-item bg7">
        
        <div class="carousel-caption d-md-block">
            <h1 class="myhtxtres1">WELCOME TO THE SMART WORLD</h1> <br>
            <h4 class="myhtxtres2">Lay the strong foundation for your business <br> with Ignitive Labs. </h4>
            <div class="container mb-4 btnres1">
                <a routerLink="aboutus"><button class="mybtn">Show more</button></a>
            </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <i class="fas fa-chevron-left icon-size" aria-hidden="true"></i>
        <i class="fas fa-chevron-left icon-size" aria-hidden="true"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <i class="fas fa-chevron-right icon-size" aria-hidden="true"></i>
        <i class="fas fa-chevron-right icon-size" aria-hidden="true"></i>
        
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Corosal Ends -->


<!-- What we Do starts -->

<div class="container-fluid mt-5">

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 offset-lg-3 text-center" data-aos="fade-right"  data-aos-duration="1500">
      <h1 class="mytxt-clr myhtxtres1">WHAT WE DO</h1>
      <p style="font-size: 20px;">But I must explain to you how all this mistaken idea of  denouncing pleasure and
         praising pain was born and I will give , or avoids pleasure itself, because it.</p>
    </div>
  </div>

  <!-- icon cards starts -->

  <div class="row mt-3">
    <div class="col-lg-8 col-md-8 col-sm-12 col-12 offset-md-2 offset-lg-2 m-auto">

      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-3 col-lg-3 col-sm-12 col-12 d-block m-auto  card-margin">
            <div class="card icon-rounded c-h card-height">
              <div class="card-body align-self-center">
                <img src="../../assets/images/icons/software-1-150x150.png" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-top-0 bg-transparent">
                <p class="card-text text-center">Software Solutions</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-lg-3 col-sm-12 col-12 d-block m-auto  card-margin">
            <div class="card icon-rounded c-h card-height">
              <div class="card-body align-self-center">
                <img src="../../assets/images/icons/space-150x150.png" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-top-0 bg-transparent">
                <p class="card-text text-center">Domain Knowledge</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-lg-3 col-sm-12 col-12 d-block m-auto  card-margin">
            <div class="card icon-rounded c-h card-height">
              <div class="card-body align-self-center">
                <img src="../../assets/images/icons/cloud-computing.png" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-top-0 bg-transparent">
                <p class="card-text text-center">Hosting Services</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-lg-3 col-sm-12 col-12 d-block m-auto  card-margin">
            <div class="card icon-rounded c-h card-height">
              <div class="card-body align-self-center ml-3">
                <img src="../../assets/images/icons/machine-learning-150x150.png" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-top-0 bg-transparent">
                <p class="card-text text-center">Machine Learning</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-8 col-md-8 col-sm-12 col-12 offset-md-2 offset-lg-2 m-auto">

      <div class="container-fluid">
        <div class="row">
          
          <div class="col-md-3 col-lg-3 col-sm-12 col-12 d-block m-auto">
            <div class="card icon-rounded c-h card-height">
              <div class="card-body align-self-center">
                <img src="../../assets/images/icons/embedded-150x150.png" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-top-0 bg-transparent">
                <p class="card-text text-center">Embedded System</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-lg-3 col-sm-12 col-12 d-block m-auto">
            <div class="card icon-rounded c-h card-height">
              <div class="card-body align-self-center">
                <img src="../../assets/images/icons/web-development-1-150x150.png" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-top-0 bg-transparent">
                <p class="card-text text-center">Web Development</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-lg-3 col-sm-12 col-12 d-block m-auto">
            <div class="card icon-rounded c-h card-height">
              <div class="card-body align-self-center">
                <img src="../../assets/images/icons/marketing-1-150x150.png" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-top-0 bg-transparent">
                <p class="card-text text-center">Data Science</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 col-lg-3 col-sm-12 col-12 d-block m-auto">
            <div class="card icon-rounded c-h card-height">
              <div class="card-body align-self-center">
                <img src="../../assets/images/icons/blog-150x150 (1).png" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-top-0 bg-transparent">
                <p class="card-text text-center">Digital Marketing</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-lg-8 col-md-8 col-sm-12 col-12 offset-md-2 offset-lg-2 m-auto">

      <div class="container-fluid">
        <div class="row justify-content-md-center justify-content-center">
          
          <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto ">
            <div class="card icon-rounded c-h card-height">
              <div class="card-body align-self-center">
                <img src="../../assets/images/icons/digital-150x150.png" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-top-0 bg-transparent">
                <p class="card-text text-center">Content Marketing</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto">
            <div class="card icon-rounded c-h card-height">
              <div class="card-body align-self-center">
                <img src="../../assets/images/icons/car-parts.png" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-top-0 bg-transparent">
                <p class="card-text text-center">Automotive</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto">
            <div class="card icon-rounded c-h card-height">
              <div class="card-body align-self-center">
                <img src="../../assets/images/icons/iot-150x150.png" class="img-fluid" alt="">
              </div>
              <div class="card-footer border-top-0 bg-transparent">
                <p class="card-text text-center">IOT</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- icon cards ends -->
</div>

<!-- What we do ends -->

<!-- Why to choose starts -->

<div class="container mt-5">
  <div class="row">

    <div class="col-md-6 col-lg-6 col-12 col-sm-12" data-aos="fade-right"  data-aos-duration="1500">
      <div class="card border-0">
        <div class="card-body">
          <img src="../../assets/images/icons/59893-Convered.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-6 col-12 col-sm-12" data-aos="fade-left"  data-aos-duration="1500">
      <div class="card border-0">
       <div class="card-body">
        <h1 class="mytxt-clr myhtxtres1">WHY TO <br> CHOOSE US?</h1>
        <p class="lead">Ignitive Labsstep ahead of excellency. 
          With the perfect blend of creativity and technology, we deliver the tangible results.</p>
          <a routerLink="/aboutus"><button class="mybtn">About Us</button></a>
       </div>   
      </div>
    </div>

  </div>
</div>

<!-- Why to choose starts -->

<!-- testomnials starts -->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-12 col-sm-12 offset-md-3">
      <h1 class="text-center mytxt-clr myhtxtres1">TESTIMONIALS</h1>
    </div>
  </div>
  <div class="row my-5">
    
    <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto" data-aos="fade-right"  data-aos-duration="1500">
     <i class="fas fa-quote-left icon-size mytxt-clr"></i>
      <p class="lead text-justify">The way they completed the project provided the strong deadline that I had, its amazing. Feels nice to be associated with them and getting the desired and timely services.</p>
      <p class="mytxt-clr mt-4 text-center">Sagar C.K</p>
    </div>

    <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto" data-aos="fade-right"  data-aos-duration="1500">
      <i class="fas fa-quote-left icon-size mytxt-clr"></i>
       <p class="lead text-justify">The way they completed the project provided the strong deadline that I had, its amazing. Feels nice to be associated with them and getting the desired and timely services.</p>
       <p class="mytxt-clr mt-4 text-center">Kavya Kumari</p>
      </div>

     <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto" data-aos="fade-right"   data-aos-duration="1500">
      <i class="fas fa-quote-left icon-size mytxt-clr"></i>
       <p class="lead text-justify">The way they completed the project provided the strong deadline that I had, its amazing. Feels nice to be associated with them and getting the desired and timely services.</p>
       <p class="mytxt-clr mt-4 text-center">Chandini Bhat</p>
      </div>

  </div>
</div>

<!-- testomonials ends -->