
  <!-- about us starts -->
  <div class="container-fluid mymt1-5">

    <div class="row" data-aos="fade-up" data-aos-duration="1700">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 offset-md-3 offset-lg-3 text-center">
          <p class="mytxt-clr lead">ABOUT US</p>
        <h1 class="mytxt-clr myhtxtres1">THE LARGEST <br> BUSINESS EXPERT <br> !</h1>
      </div>
    </div>

    <div class="row mymt1-5">
          
        <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto" data-aos="fade-left" data-aos-duration="1800">
          <div class="card icon-rounded c-h">
            <div class="card-body align-self-center">
              <img src="../../assets/images/aboutus/1.png" class="img-fluid ml-5" alt="">
              <h2 class="mymt-5 card-text1" data-aos="fade-up" data-aos-duration="1700">OUR MISSION</h2>
            </div>
            <div class="card-footer border-top-0 bg-transparent" data-aos="fade-up" data-aos-duration="1700" data-aos-delay="500">
              <p class="card-text text-center card-text2">To provide quality service and products at the most affordable price</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto" data-aos="fade-left" data-aos-duration="1800">
          <div class="card icon-rounded c-h">
            <div class="card-body align-self-center">
              <img src="../../assets/images/aboutus/2.png" class="img-fluid ml-5" alt="">
              <h2 class="mymt-5 card-text1" data-aos="fade-up" data-aos-duration="1700">OUR VISION</h2>
            </div>
            <div class="card-footer border-top-0 bg-transparent" data-aos="fade-up" data-aos-duration="1700" data-aos-delay="500">
              <p class="card-text text-center card-text2">To provide Technology for everyone and everywheree</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-lg-4 col-sm-12 col-12 d-block m-auto" data-aos="fade-left" data-aos-duration="1800">
          <div class="card icon-rounded c-h">
            <div class="card-body align-self-center">
              <img src="../../assets/images/aboutus/3.png" class="img-fluid ml-5" alt="">
              <h2 class="mymt-5 card-text1" data-aos="fade-up" data-aos-duration="1700">OUR  PURPOSE</h2>
            </div>
            <div class="card-footer border-top-0 bg-transparent" data-aos="fade-up" data-aos-duration="1700" data-aos-delay="500">
              <p class="card-text text-center card-text2">To help the mankind to achieve their goals with our growing Technologies</p>
            </div>
          </div>
        </div>
      </div>

</div>
<!-- about us ends -->

<!-- Why chose us starts -->

<div class="container mymar">
    <div class="row">
        <div class="col-md-12 aol-lg-12 col-12 col-sm-12">
            <h1 class="mytxt-clr text-center myhtxtres1" data-aos="fade-down" data-aos-duration="1800">WHY CHOOSE US</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12 aol-lg-12 col-12 col-sm-12 myhtxtres2" data-aos="fade-up" data-aos-duration="1800">
            <p class="lead text-justify">Being the leading and pioneer in the services in the industry, Ignitive Labs covers the diverse range of services, be it design, development, or the execution or support and maintenance. The training programs
                and the skill development learning abilities is what we are expert in.</p>
           <p class="lead text-justify">Our state of art technology solutions helps the customers to get the best possible solutions for their business needs. We have been using the latest technologies like the IoT and embedded engineering applications. Our domain is not limited to a single industry rather it is widespread from embedded technology to web development to system software support.
                We have complete coverage over the problems that your business is looking for.</p>

           <p class="lead text-justify">We have a dedicated and qualified team of professionals who are well versed and trained in the skills, they come up with the unique ideas and the perfect solution that meets their business requirements. We are experts in helping the customers to reinvent and reshape their business completely in a unique manner. Thus, providing the clients with a competitive edge in the 
               marketplace and always on the top among the crowd and serving with the best services.</p>     

        </div>
    </div>
</div>

<!-- Why choose us ends -->



<!-- testomnials starts -->

<div class="container my-5">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-12 col-sm-12 offset-md-3 offset-lg-3">
        <h1 class="text-center mytxt-clr myhtxtres1">OUR TEAM</h1>
      </div>
    </div>
    <div class="row my-5">
      
      <div class="col-md-3 col-lg-3 col-sm-12 col-12 d-block m-auto text-center" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="800">
         <figure class="figure">
          <img src="../../assets/images/our team/fairoz.jpeg" alt="" class="img-fluid figure-img img-size">

          <figcaption class="figure-caption mt-3 mytxt-clr" style="font-size: 20px;">
            Fairoz B <br> Associate Software Developer
          </figcaption>
         </figure>
         
      </div>
  
      <div class="col-md-3 col-lg-3 col-sm-12 col-12 d-block m-auto text-center" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="1000">
        <figure class="figure">
         <img src="../../assets/images/our team/ashik.jpeg" alt="" class="img-fluid figure-img img-size">

         <figcaption class="figure-caption mt-3 mytxt-clr" style="font-size: 20px;">
           Ashik M Vishwakarma <br> Associate IOT & Python Developer
         </figcaption>
        </figure>
        
     </div>
  
     <div class="col-md-3 col-lg-3 col-sm-12 col-12 d-block m-auto text-center" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="1200">
      <figure class="figure">
       <img src="../../assets/images/our team/amogh.jpeg" alt="" class="img-fluid figure-img img-size">

       <figcaption class="figure-caption mt-3 mytxt-clr" style="font-size: 20px;">
         Amogha Bandrikalli <br> Technical Head
       </figcaption>
      </figure>
      
   </div>

   <div class="col-md-3 col-lg-3 col-sm-12 col-12 d-block m-auto text-center" data-aos="fade-right" data-aos-duration="1500" data-aos-delay="1400">
    <figure class="figure">
     <img src="../../assets/images/our team/akash.jpeg" alt="" class="img-fluid figure-img img-size">

     <figcaption class="figure-caption mt-3 mytxt-clr" style="font-size: 20px;">
       Akash V Solanki <br> Jr.Software Developer
     </figcaption>
    </figure>
    
 </div>
  
    </div>
  </div>
  
  <!-- testomonials ends -->
