<!-- <div class="jumbotron fbg m-2 text-white mymt-5"> -->
<div class="container-fluid fbg">
    <div class="row" style="padding-top: 20px;">
        <div class="col-md-8 col-9">
            <h4 style="text-decoration: underline;">Address</h4>
            <div>
                #9-469/3 ,Mirza Plaza , <br>
                2nd Floor, 8th Main Rd,<br>
                Prince Jayachamaraja Wodeyar, <br>
                Davanagere, Karnataka 577002
            </div>
        </div>

        <div class="col-md-4 col-3">

            <p class="text-right"><a href=""><i class="icon-clr  fab fa-facebook"></i></a></p>
            <p class="text-right"><a href=""><i class="icon-clr  fab fa-instagram"></i></a></p>
            <p class="text-right"><a href=""><i class="icon-clr  fab fa-linkedin"></i></a></p>
            <p class="text-right"><a href=""><i class="icon-clr  fab fa-whatsapp"></i></a></p>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-12">
            <p class="text-center">© 2020 Ignitive Labs . All Rights Reserved.</p>
        </div>
    </div>
</div>
<!-- </div>  -->